<div class="about_content-container">
	<h2>The Database</h2>
	<hr />
	<b>Communicates With</b><br />
	The database is somewhere in the middle of the server and the website.
	
	When a new user is registered he or she is instantly added to the database. When the user later tries to login to the server using the client chat application which sends a request to the server asking
	to query the database for the account information concerning the user, to which the server replies with only a small amount of the data to client (username and id).
	<br /><br />
	<b>Connectivity</b><br />
	The connection between the database and the Server is maintained by a JDBC Driver, the website uses PHP to connect to the database.
</div>