<div class="about_content-container">
	<h2>The Chat!</h2>
	<hr />
	<h3>Why so chatty?</h3>
	There are a couple of reasons I decided to develop a chat application.<p>
	The first and most important one:
	<dd><b>It is easily integrated with the requirements you desired!</b></dd><p>
	A chat application can run on many platforms such as the Mobile platform (I'm familiar with Android programming as well!) as well as on the web.
	I wanted to create something that was using all the requested skills on a decently high level.<p>
	<h4>Chat Technologies</h4>
	The chat is using a couple of technologies.<br>
	I will go through them here step by step and try to explain their purpose as thoroughly as possible.<p>
	<dt>
		<dd>
			<b><u>Java</u></b><br />
			Java is the language the Server and Client is programmed with. The reason why I chose Java is because it is the language I 
			have the greatest experience with and feel most comfortable working with and was the language in your interest.
		</dd><p>
		<dd>
			<b><u>Netty</u></b>
			The networking library of my choice. <br />Netty is an asynchronous(multithreaded) networking library with high performance and the one I have most experience working with.
			For this task I'm using the TCP netowork protocol only. UDP can be considered in the future if I will update the application and add some functionality such as camchat or voice chats.
		</dd><p>
		<dd>
		<b><u>MySQL</u></b>
			MySQL was one of the requirements you were looking for as well. The Server communicates with a MySQL Database for user querying and the settings for the server such as the port number, message of the day,
			the client version and the key to complete the handshake between server-client.
		</dd><p>
		<dd><b><u>PHP</u></b>
			PHP was also in the requirements, the very website on which you're reading this is made using PHP server-side, if it wasn't for the requirement I would have made this
			with Java as well to make it able to directly communicate with the Server.
		</dd>
	</dt>
	<p>
	For more information, please drop me an <a href="mailto:felixekdahl@hotmail.com">e-mail</a>.
</div>