<div class="about_content-container">
	<h2>Summary</h2>
	<hr />
	
	In this very simple slide presentation I have gone through some of the basic concepts used during the development of this project.
	<p>The purpose of this project is to work as a portfolio for a job application I've sent to Gothia Logistics. In this project I tried by best to show all the different skills
	desired for the job (even though Java was only listed as a bonus). I will list what I believe I have shown as strong skills with and hopefully strong enough.
	
	<ul>
		<li>I believe I have great skills with Java and different paradigms used in programming such as <b>Object Oriented Programming</b>.
		<li>I am proficient with PHP and understands the fundamentals in which PHP operates on a server-side basis.</li>
		<li>I can handle and setup a MySQL database and maintain queries and interactions between different applications.</li>
		<li>And, last but not least, the reason that this website is completely written in English, is to show my proficiency with the language.</li>
	</ul>
	
	I hope that this project suffice as a replacement for a portfolio.<p>
	General information about the project;
	<dt>
		<dd>Took about 40 hours to complete from scratch.</dd><p>
		<dd>Everything, including the website, is completely written by me.</dd><p>
		<dd>There is still some documentation missing in the project, but most is documented and the function and variable names make sense.</dd><p>
		<dd>The project is <a href="#">open source.</a></dd>
	</dt>
	
	
</div>